# Python & Virtual Environments
.venv/
env/
venv/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Sensitive Local Config
config.toml

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log

# Distribution / Packaging
build/
dist/
*.egg-info/
